@import "@/styles/base.scss";

.home {
  display: flex;
  height: 100vh;
  width: 100%;
  z-index: 0 !important;

  @include apply-at-sm-size {
    padding-top: 68px;
  }

  .container {
    @include directionRow;
    @include container;
    width: 100%;
    align-items: center;
    padding-top: 110px;

    @include apply-at-sm-size {
      flex-direction: column;
      align-items: start;
      padding: 0;
    }

    .contentLeft {
      @include directionColumn;
      width: 100%;

      .preview {
        display: flex;
        width: 100%; /* Set the desired width of the container */
        height: 50vh;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;

        @include apply-at-sm-size {
          height: 35vh;
        }

        .previewImage {
          display: flex !important;
          width: 430px !important;
          height: 100% !important;
          border-radius: 15px;
          object-fit: cover;
          position: relative !important;

          @include apply-at-xl-size {
            width: 380px !important;
          }

          @include apply-at-sm-size {
            width: 100% !important;
            border-radius: 0;
          }
        }
      }

      .listImageProduct {
        @include directionRow;
        width: 100%;
        align-items: center;
        justify-content: center;
        column-gap: 32px;
        margin-top: 40px;

        @include apply-at-sm-size {
          display: none;
        }

        .listImageProductItem {
          display: flex;
          background: rgb(255, 255, 255);
          width: 88px;
          height: 88px;
          cursor: pointer;

          @include apply-at-xl-size {
            width: 66px;
            height: 66px;
          }

          .listImage {
            border-radius: 10px !important;
            width: 100%;
            height: 100%;
          }

          .listImage:hover {
            opacity: 0.6 !important;
          }

          .active {
            display: flex;
            border: 2px solid rgba(255, 125, 26, 1);
            opacity: 0.4 !important;
          }
        }
      }
    }

    .contentRight {
      @include directionColumn;
      width: 100%;
      row-gap: 20px;
      padding: 0 80px;

      @include apply-at-xl-size {
        padding: 0 20px;
      }

      @include apply-at-sm-size {
        padding: 24px;
        row-gap: 14px;
      }

      .title {
        font-weight: 700;
        font-size: 16px;
        color: rgba(255, 125, 26, 1);
        text-transform: uppercase;
        letter-spacing: 2px;

        @include apply-at-sm-size {
          font-size: 14px;
          letter-spacing: 4px;
        }
      }

      .subTitle {
        font-weight: 700;
        font-size: 44px;
        line-height: 48px;
        color: rgba(29, 32, 37, 1);

        @include apply-at-sm-size {
          font-size: 28px;
          line-height: 32px;
        }
      }

      .text {
        font-size: 16px;
        font-weight: 500;
        color: rgba(104, 112, 125, 1);
        letter-spacing: 0.8px;
        margin-top: 20px;

        @include apply-at-sm-size {
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 1.2px;
        }
      }

      .priceBox {
        @include directionColumn;
        row-gap: 10px;

        @include apply-at-sm-size {
          @include directionRow;
          justify-content: center;
          align-items: center;
          padding: 10px 0;
        }

        @include apply-at-xs-size {
          flex-direction: column;
          align-items: end;
        }

        .price {
          @include directionRow;
          width: 100%;
          align-items: center;
          column-gap: 20px;

          .titlePrice {
            font-weight: 700;
            font-size: 30px;
            color: rgba(29, 32, 37, 1);
          }

          .titleDiscount {
            font-weight: 700;
            font-size: 16px;
            color: rgba(255, 125, 26, 1);
            background-color: rgba(255, 237, 224, 1);
            border-radius: 5px;
            padding: 4px 10px;
          }
        }

        .discount {
          font-weight: 700;
          color: rgba(29, 32, 37, 1);
          text-decoration: line-through;
        }
      }

      .cart {
        @include directionRow;
        column-gap: 20px;
        margin-top: 20px;

        @include apply-at-lg-size {
          @include directionColumn;
          row-gap: 17px;
        }

        .countCart {
          @include directionRow;
          column-gap: 40px;
          padding: 16px 16px;
          background-color: rgba(247, 248, 253, 1);
          border-radius: 10px;
          justify-content: center;
          align-items: center;

          @include apply-at-sm-size {
            justify-content: space-between;
          }

          .decrement {
            display: flex;
            width: 12px;
            width: 12px;
            position: relative;
            cursor: pointer;

            .decrementImage {
              width: 100% !important;
              height: 100% !important;
              object-fit: contain;
              display: flex !important;
              position: relative !important;
            }
          }

          .titleCount {
            display: flex;
            font-weight: 700;
            width: 20px;
            justify-content: center;
            align-items: center;
          }

          .increment {
            display: flex;
            width: 12px;
            width: 12px;
            position: relative;
            cursor: pointer;

            .incrementImage {
              width: 100% !important;
              height: 100% !important;
              object-fit: contain;
              display: flex !important;
              position: relative !important;
            }
          }
        }

        .addCart {
          @include directionRow;
          width: 60%;
          column-gap: 20px;
          background: rgba(255, 125, 26, 1);
          border-radius: 10px;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          @include apply-at-lg-size {
            padding: 17px 0;
            width: 100%;
          }

          .iconAddCart {
            width: 16px;
            height: 16px;
            position: relative;
            object-fit: contain;
            color: rgba(255, 255, 255, 1);
          }

          .titleCart {
            font-weight: 700;
            color: white;
          }
        }
      }
    }
  }

  .modalImage {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 2;
    justify-content: center;
    align-items: center;
    row-gap: 17px;

    .modalContainer {
      @include directionColumn;

      row-gap: 17px;
      .boxCloseModal {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;

        .closeModal {
          width: 22px;
          height: 22px;
          position: relative;
          cursor: pointer;

          .closeImage {
            width: 100% !important;
            height: 100% !important;
          }
        }
      }

      .previewModal {
        display: flex;
        position: relative;

        .preview {
          width: 550px;
          height: 550px;
          position: relative;

          .previewImage {
            width: 100%;
            height: 100%;
            border-radius: 15px;
          }
        }

        .previous {
          display: flex;
          width: 55px;
          height: 55px;
          background: white;
          border-radius: 100px;
          position: absolute;
          justify-content: center !important;
          align-items: center !important;
          top: calc(50% - 28px);
          left: -28px;
          cursor: pointer;

          .previousImage {
            width: 13px !important;
            height: 18px !important;
            position: relative !important;
          }
        }
        .next {
          display: flex;
          width: 55px;
          height: 55px;
          background: white;
          border-radius: 100px;
          position: absolute;
          justify-content: center !important;
          align-items: center !important;
          top: calc(50% - 28px);
          right: -28px;
          cursor: pointer;

          .nextImage {
            width: 13px !important;
            height: 18px !important;
            position: relative !important;
          }
        }
      }

      .thumbnailModal {
        @include directionRow;
        width: 100%;
        align-items: center;
        justify-content: center;
        column-gap: 32px;
        margin-top: 20px;

        .listImageProductItem {
          display: flex;
          width: 88px;
          height: 88px;
          background: white;
          border-radius: 10px;
          cursor: pointer;

          .listImage {
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }

          .listImage:hover {
            opacity: 0.6 !important;
          }

          .active {
            display: flex;
            border: 2px solid rgba(255, 125, 26, 1);
            opacity: 0.4 !important;
          }
        }
      }
    }
  }
}
