@mixin directionColumn {
  display: flex;
  flex-direction: column;
}

@mixin directionRow {
  display: flex;
  flex-direction: row;
}

@mixin container {
  padding: 0 10vw;

  @include apply-at-md-size {
    padding: 0 6vw;
  }
}
