@import "@/styles/base.scss";

.navbar {
  ul {
    list-style: none;
  }

  @include directionRow;
  //   padding: 30px 0;
  width: 100%;
  position: fixed;
  height: 110px;
  z-index: 1 !important;
  background: white;

  @include apply-at-sm-size {
    height: 68px;
  }

  .container {
    @include directionRow;
    @include container;
    column-gap: 20px;
    width: 100%;
    box-shadow: 0 1px 30px -10px rgba(0, 0, 0, 0.27);

    @include apply-at-sm-size {
      box-shadow: none;
    }

    .btnMobile {
      display: none;
      align-items: center;

      @include apply-at-xl-size {
        display: flex;
      }
    }

    .desktop {
      @include directionRow;
      justify-content: space-between;
      width: 100%;
    }

    .left {
      @include directionRow;
      column-gap: 4vw;

      .logo {
        display: flex;
        font-size: 32px;
        font-weight: 700;
        font-family: "Outfit", sans-serif;
        color: black;
        align-items: center;
      }

      .menu {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        @include apply-at-xl-size {
          display: none;
        }

        .list {
          @include directionRow;
          column-gap: 50px;

          .item {
            color: rgba(104, 112, 125, 1);
            font-weight: 400;
            position: relative;
          }

          .item::after {
            content: "";
            width: 100%;
            height: 4px;
            position: absolute;
            background: rgba(255, 125, 26, 1) !important;
            left: 0;
            bottom: -46px;
            transform: scale(0, 1);
            -webkit-transform: scale(0, 1);
            -moz-transform: scale(0, 1);
            -ms-transform: scale(0, 1);
            -o-transform: scale(0, 1);
            transition: transform 0.3s ease;
          }

          .item:hover:after {
            transform: scale(1, 1);
            -webkit-transform: scale(1, 1);
            -moz-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -o-transform: scale(1, 1);
          }
        }
      }
    }

    .right {
      @include directionRow;
      column-gap: 3vw;
      align-items: center;

      .avatar {
        display: flex;
        position: relative;
        width: 50px;
        height: 50px;

        @include apply-at-sm-size {
          width: 35px;
          height: 35px;
        }

        .avatarImage {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .mobile {
    display: flex;
    position: fixed;
    background: rgba(0, 0, 0, 0.699);
    width: 100%;
    height: 100vh;
    z-index: 10;
    right: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;

    .containerMobile {
      @include directionColumn;
      background: white;
      width: 65%;
      padding: 24px 20px;
      row-gap: 60px;
    }

    .menuMobile {
      .listMobile {
        @include directionColumn;
        row-gap: 25px;

        .itemMobile {
          color: rgba(29, 32, 37, 1);
          font-weight: 700;
          font-size: 17px;
        }
      }
    }
  }

  .active {
    right: 0;
  }

  .modalCart {
    @include container;
    display: none;
    position: absolute;
    top: 100px;
    right: 0;

    @include apply-at-sm-size {
      width: 100%;
    }

    .containerCart {
      @include directionColumn;
      min-width: 360px;
      min-height: 200px;
      background: rgba(255, 255, 255, 1);
      border-radius: 15px;
      box-shadow: 2px 43px 241px -72px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 2px 43px 241px -72px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 2px 43px 241px -72px rgba(0, 0, 0, 0.75);

      @include apply-at-sm-size {
        width: 100%;
        min-width: 0;
      }

      .title {
        padding: 27px 24px;
        border-bottom: 2px solid rgba(141, 141, 141, 0.11);
        font-weight: 700;
      }

      .empty {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
      }

      .cartItems {
        @include directionColumn;
        row-gap: 20px;
        padding: 27px 24px;

        .cartItem {
          @include directionRow;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          .cartItemLeft {
            @include directionRow;
            column-gap: 14px;
            align-items: center;

            .cartItemImage {
              width: 50px;
              height: 50px;

              .cartItemImageClasses {
                width: 100%;
                height: 100%;
                border-radius: 10px;
              }
            }

            .cartItemInfo {
              @include directionColumn;
              row-gap: 6px;

              .cartItemInfoName {
                font-weight: 500;
                font-size: 16px;
              }

              .cartItemInfoPrice {
                @include directionRow;
                column-gap: 10px;

                .cartItemInfoPriceQuantity {
                  font-weight: 500;
                }

                .cartItemInfoTotal {
                  font-weight: 700;
                }
              }
            }
          }

          .cartItemRight {
            .deleteIcon {
              position: relative;
              width: 14px;
              height: 16px;

              .deleteIconImage {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }

      .checkout {
        @include directionRow;
        width: 100%;
        padding: 27px 24px;

        .btnCheckout {
          display: flex;
          background: rgba(255, 125, 26, 1);
          justify-content: center;
          align-items: center;
          width: 100%;
          min-height: 58px;
          border-radius: 10px;
          font-size: 16px;
          font-weight: 700;
          color: white;
        }
      }
    }
  }

  .activeCart {
    display: flex;
  }
}
